<div class="modal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Vehicle Detailed Information</h2>
    <table *ngIf="vehicleDetails">
      <tr>
        <th>Vehicle Number</th>
        <td>{{ vehicleDetails.VehicleNumber }}</td>
      </tr>
      <tr>
        <th>Vehicle Type</th>
        <td>{{ vehicleDetails.VehicleType }}</td>
      </tr>
      <tr>
        <th>Drivers</th>
        <td>
          <select #driverSelect (change)="selectDriver(driverSelect.value)">
            <option *ngFor="let driver of drivers" [value]="driver.DriverName">{{ driver.DriverName }}</option>
          </select>
       </tr>
      <tr>
        <th>Phone Number</th>
        <td>{{ selectedDriverPhoneNumber }}</td>
      </tr>
      <tr>
        <th>Last Position</th>
        <td>{{ vehicleDetails.LastPosition }}</td>
      </tr>
      <tr>
        <th>Vehicle Make</th>
        <td>{{ vehicleDetails.VehicleMake }}</td>
      </tr>
      <tr>
        <th>Vehicle Model</th>
        <td>{{ vehicleDetails.VehicleModel }}</td>
      </tr>
      <tr>
        <th>Last GPS Time</th>
        <td>{{ vehicleDetails.LastGPSTime * 1000 | date: 'medium' }}</td>
      </tr>
      <tr>
        <th>Last GPS Speed</th>
        <td>{{ vehicleDetails.LastGPSSpeed }} km/h </td>
      </tr>
      <tr>
        <th>Last Address</th>
        <td>{{ vehicleDetails.LastAddress }}</td>
      </tr>
    </table>
  </div>
</div>
